body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 0;


}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}



p {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  line-height: 2;

}

hr {
  border: none;
  border-top: dotted;
  border-width: 10px;
  width: 5%;
  color: #EAF6F6;
  margin: 100px auto;


}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-container{
  background-color: #e1f2fb;
  position: relative;
  padding-top: 100px;
  margin-bottom: 0;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.intro {
  width: 30%;
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;

  line-height: 2;


}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.avatar {
  height: 150px;
  width: 150px;
}

.mountain {
  margin-bottom: 0;
}

.css-png, .html-png, .java-png, .csharp-png {

  width: 150px;
}

.contact-me {
  position: relative;
}

.contact-png {

  padding: 50px;
  height: 150px;
  width: 150px;

}

.contact-png:hover {
transform: scale(1.2);


}
